venv
db.sqlite3
*.env
*.sqlite3
*.log
*.swp
*.swo
*.bak
*.pyc
.DS_Store
.pytest_cache/
__pycache__/
*.pyc
*.pyo
.idea/
*.iml
*.ipr
*.iws
/fucking_scraper/files/item_photos/
/static/*
!/static/*.png
/fucking_website/dev_config.py

